* {
    box-sizing: bordborder-box;
}

body {
    display: flex;
    flex-wrap: wrap;
}

#email {
    border: dashed;
}


/*#registrar:hover {
    colo: green;
}

#registrar:link {
    color: chartreuse;
}